<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdjr.data.process.mapper.InvestMapper">
  <resultMap id="BaseResultMap" type="com.spring.cloud.common.po.Invest">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="interest" jdbcType="DOUBLE" property="interest" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="paid_interest" jdbcType="DECIMAL" property="paidInterest" />
    <result column="paid_money" jdbcType="DECIMAL" property="paidMoney" />
    <result column="rate" jdbcType="DOUBLE" property="rate" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="loan_id" jdbcType="VARCHAR" property="loanId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="is_auto_invest" jdbcType="BIT" property="isAutoInvest" />
    <result column="paid_penalty" jdbcType="DECIMAL" property="paidPenalty" />
    <result column="user_jiaxi" jdbcType="VARCHAR" property="userJiaxi" />
    <result column="user_coupon" jdbcType="VARCHAR" property="userCoupon" />
    <result column="jiaxibili" jdbcType="DOUBLE" property="jiaxibili" />
    <result column="invest_money" jdbcType="DOUBLE" property="investMoney" />
    <result column="transfer_apply" jdbcType="VARCHAR" property="transferApply" />
    <result column="coupon_money" jdbcType="DOUBLE" property="couponMoney" />
    <result column="investment" jdbcType="DECIMAL" property="investment" />
    <result column="rebate" jdbcType="DECIMAL" property="rebate" />
    <result column="rate0" jdbcType="DOUBLE" property="rate0" />
    <result column="rate1" jdbcType="DOUBLE" property="rate1" />
    <result column="rate10" jdbcType="DOUBLE" property="rate10" />
    <result column="rate11" jdbcType="DOUBLE" property="rate11" />
    <result column="rate12" jdbcType="DOUBLE" property="rate12" />
    <result column="rate13" jdbcType="DOUBLE" property="rate13" />
    <result column="rate14" jdbcType="DOUBLE" property="rate14" />
    <result column="rate2" jdbcType="DOUBLE" property="rate2" />
    <result column="rate3" jdbcType="DOUBLE" property="rate3" />
    <result column="rate4" jdbcType="DOUBLE" property="rate4" />
    <result column="rate5" jdbcType="DOUBLE" property="rate5" />
    <result column="rate6" jdbcType="DOUBLE" property="rate6" />
    <result column="rate7" jdbcType="DOUBLE" property="rate7" />
    <result column="bbin" jdbcType="DOUBLE" property="bbin" />
    <result column="fantime" jdbcType="DATE" property="fantime" />
    <result column="resetbbinstatus" jdbcType="INTEGER" property="resetbbinstatus" />
    <result column="baoquanid" jdbcType="VARCHAR" property="baoquanid" />
    <result column="sourceOrderid" jdbcType="VARCHAR" property="sourceorderid" />
    <result column="hfstatus" jdbcType="VARCHAR" property="hfstatus" />
    <result column="usewisdom" jdbcType="CHAR" property="usewisdom" />
    <result column="investWisdomId" jdbcType="VARCHAR" property="investwisdomid" />
    <result column="lendPact" jdbcType="VARCHAR" property="lendpact" />
    <result column="warrantPact" jdbcType="VARCHAR" property="warrantpact" />
    <result column="wisdom_revoke" jdbcType="VARCHAR" property="wisdomRevoke" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.spring.cloud.common.po.InvestWithBLOBs">
    <result column="nodebody" jdbcType="LONGVARCHAR" property="nodebody" />
    <result column="guarantycontract" jdbcType="LONGVARCHAR" property="guarantycontract" />
  </resultMap>
  <sql id="Base_Column_List">
    id, interest, money, paid_interest, paid_money, rate, status, time, type, loan_id, 
    user_id, is_auto_invest, paid_penalty, user_jiaxi, user_coupon, jiaxibili, invest_money, 
    transfer_apply, coupon_money, investment, rebate, rate0, rate1, rate10, rate11, rate12, 
    rate13, rate14, rate2, rate3, rate4, rate5, rate6, rate7, bbin, fantime, resetbbinstatus, 
    baoquanid, sourceOrderid, hfstatus, usewisdom, investWisdomId, lendPact, warrantPact, 
    wisdom_revoke
  </sql>
  <sql id="Blob_Column_List">
    nodebody, guarantycontract
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from invest
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from invest
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.spring.cloud.common.po.InvestWithBLOBs">
    insert into invest (id, interest, money, 
      paid_interest, paid_money, rate, 
      status, time, type, 
      loan_id, user_id, is_auto_invest, 
      paid_penalty, user_jiaxi, user_coupon, 
      jiaxibili, invest_money, transfer_apply, 
      coupon_money, investment, rebate, 
      rate0, rate1, rate10, 
      rate11, rate12, rate13, 
      rate14, rate2, rate3, 
      rate4, rate5, rate6, rate7, 
      bbin, fantime, resetbbinstatus, 
      baoquanid, sourceOrderid, hfstatus, 
      usewisdom, investWisdomId, lendPact, 
      warrantPact, wisdom_revoke, nodebody, 
      guarantycontract)
    values (#{id,jdbcType=VARCHAR}, #{interest,jdbcType=DOUBLE}, #{money,jdbcType=DOUBLE}, 
      #{paidInterest,jdbcType=DECIMAL}, #{paidMoney,jdbcType=DECIMAL}, #{rate,jdbcType=DOUBLE}, 
      #{status,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{type,jdbcType=VARCHAR}, 
      #{loanId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{isAutoInvest,jdbcType=BIT}, 
      #{paidPenalty,jdbcType=DECIMAL}, #{userJiaxi,jdbcType=VARCHAR}, #{userCoupon,jdbcType=VARCHAR}, 
      #{jiaxibili,jdbcType=DOUBLE}, #{investMoney,jdbcType=DOUBLE}, #{transferApply,jdbcType=VARCHAR}, 
      #{couponMoney,jdbcType=DOUBLE}, #{investment,jdbcType=DECIMAL}, #{rebate,jdbcType=DECIMAL}, 
      #{rate0,jdbcType=DOUBLE}, #{rate1,jdbcType=DOUBLE}, #{rate10,jdbcType=DOUBLE}, 
      #{rate11,jdbcType=DOUBLE}, #{rate12,jdbcType=DOUBLE}, #{rate13,jdbcType=DOUBLE}, 
      #{rate14,jdbcType=DOUBLE}, #{rate2,jdbcType=DOUBLE}, #{rate3,jdbcType=DOUBLE}, 
      #{rate4,jdbcType=DOUBLE}, #{rate5,jdbcType=DOUBLE}, #{rate6,jdbcType=DOUBLE}, #{rate7,jdbcType=DOUBLE}, 
      #{bbin,jdbcType=DOUBLE}, #{fantime,jdbcType=DATE}, #{resetbbinstatus,jdbcType=INTEGER}, 
      #{baoquanid,jdbcType=VARCHAR}, #{sourceorderid,jdbcType=VARCHAR}, #{hfstatus,jdbcType=VARCHAR}, 
      #{usewisdom,jdbcType=CHAR}, #{investwisdomid,jdbcType=VARCHAR}, #{lendpact,jdbcType=VARCHAR}, 
      #{warrantpact,jdbcType=VARCHAR}, #{wisdomRevoke,jdbcType=VARCHAR}, #{nodebody,jdbcType=LONGVARCHAR}, 
      #{guarantycontract,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.spring.cloud.common.po.InvestWithBLOBs">
    insert into invest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="interest != null">
        interest,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="paidInterest != null">
        paid_interest,
      </if>
      <if test="paidMoney != null">
        paid_money,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="loanId != null">
        loan_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="isAutoInvest != null">
        is_auto_invest,
      </if>
      <if test="paidPenalty != null">
        paid_penalty,
      </if>
      <if test="userJiaxi != null">
        user_jiaxi,
      </if>
      <if test="userCoupon != null">
        user_coupon,
      </if>
      <if test="jiaxibili != null">
        jiaxibili,
      </if>
      <if test="investMoney != null">
        invest_money,
      </if>
      <if test="transferApply != null">
        transfer_apply,
      </if>
      <if test="couponMoney != null">
        coupon_money,
      </if>
      <if test="investment != null">
        investment,
      </if>
      <if test="rebate != null">
        rebate,
      </if>
      <if test="rate0 != null">
        rate0,
      </if>
      <if test="rate1 != null">
        rate1,
      </if>
      <if test="rate10 != null">
        rate10,
      </if>
      <if test="rate11 != null">
        rate11,
      </if>
      <if test="rate12 != null">
        rate12,
      </if>
      <if test="rate13 != null">
        rate13,
      </if>
      <if test="rate14 != null">
        rate14,
      </if>
      <if test="rate2 != null">
        rate2,
      </if>
      <if test="rate3 != null">
        rate3,
      </if>
      <if test="rate4 != null">
        rate4,
      </if>
      <if test="rate5 != null">
        rate5,
      </if>
      <if test="rate6 != null">
        rate6,
      </if>
      <if test="rate7 != null">
        rate7,
      </if>
      <if test="bbin != null">
        bbin,
      </if>
      <if test="fantime != null">
        fantime,
      </if>
      <if test="resetbbinstatus != null">
        resetbbinstatus,
      </if>
      <if test="baoquanid != null">
        baoquanid,
      </if>
      <if test="sourceorderid != null">
        sourceOrderid,
      </if>
      <if test="hfstatus != null">
        hfstatus,
      </if>
      <if test="usewisdom != null">
        usewisdom,
      </if>
      <if test="investwisdomid != null">
        investWisdomId,
      </if>
      <if test="lendpact != null">
        lendPact,
      </if>
      <if test="warrantpact != null">
        warrantPact,
      </if>
      <if test="wisdomRevoke != null">
        wisdom_revoke,
      </if>
      <if test="nodebody != null">
        nodebody,
      </if>
      <if test="guarantycontract != null">
        guarantycontract,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="interest != null">
        #{interest,jdbcType=DOUBLE},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="paidInterest != null">
        #{paidInterest,jdbcType=DECIMAL},
      </if>
      <if test="paidMoney != null">
        #{paidMoney,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="loanId != null">
        #{loanId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isAutoInvest != null">
        #{isAutoInvest,jdbcType=BIT},
      </if>
      <if test="paidPenalty != null">
        #{paidPenalty,jdbcType=DECIMAL},
      </if>
      <if test="userJiaxi != null">
        #{userJiaxi,jdbcType=VARCHAR},
      </if>
      <if test="userCoupon != null">
        #{userCoupon,jdbcType=VARCHAR},
      </if>
      <if test="jiaxibili != null">
        #{jiaxibili,jdbcType=DOUBLE},
      </if>
      <if test="investMoney != null">
        #{investMoney,jdbcType=DOUBLE},
      </if>
      <if test="transferApply != null">
        #{transferApply,jdbcType=VARCHAR},
      </if>
      <if test="couponMoney != null">
        #{couponMoney,jdbcType=DOUBLE},
      </if>
      <if test="investment != null">
        #{investment,jdbcType=DECIMAL},
      </if>
      <if test="rebate != null">
        #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="rate0 != null">
        #{rate0,jdbcType=DOUBLE},
      </if>
      <if test="rate1 != null">
        #{rate1,jdbcType=DOUBLE},
      </if>
      <if test="rate10 != null">
        #{rate10,jdbcType=DOUBLE},
      </if>
      <if test="rate11 != null">
        #{rate11,jdbcType=DOUBLE},
      </if>
      <if test="rate12 != null">
        #{rate12,jdbcType=DOUBLE},
      </if>
      <if test="rate13 != null">
        #{rate13,jdbcType=DOUBLE},
      </if>
      <if test="rate14 != null">
        #{rate14,jdbcType=DOUBLE},
      </if>
      <if test="rate2 != null">
        #{rate2,jdbcType=DOUBLE},
      </if>
      <if test="rate3 != null">
        #{rate3,jdbcType=DOUBLE},
      </if>
      <if test="rate4 != null">
        #{rate4,jdbcType=DOUBLE},
      </if>
      <if test="rate5 != null">
        #{rate5,jdbcType=DOUBLE},
      </if>
      <if test="rate6 != null">
        #{rate6,jdbcType=DOUBLE},
      </if>
      <if test="rate7 != null">
        #{rate7,jdbcType=DOUBLE},
      </if>
      <if test="bbin != null">
        #{bbin,jdbcType=DOUBLE},
      </if>
      <if test="fantime != null">
        #{fantime,jdbcType=DATE},
      </if>
      <if test="resetbbinstatus != null">
        #{resetbbinstatus,jdbcType=INTEGER},
      </if>
      <if test="baoquanid != null">
        #{baoquanid,jdbcType=VARCHAR},
      </if>
      <if test="sourceorderid != null">
        #{sourceorderid,jdbcType=VARCHAR},
      </if>
      <if test="hfstatus != null">
        #{hfstatus,jdbcType=VARCHAR},
      </if>
      <if test="usewisdom != null">
        #{usewisdom,jdbcType=CHAR},
      </if>
      <if test="investwisdomid != null">
        #{investwisdomid,jdbcType=VARCHAR},
      </if>
      <if test="lendpact != null">
        #{lendpact,jdbcType=VARCHAR},
      </if>
      <if test="warrantpact != null">
        #{warrantpact,jdbcType=VARCHAR},
      </if>
      <if test="wisdomRevoke != null">
        #{wisdomRevoke,jdbcType=VARCHAR},
      </if>
      <if test="nodebody != null">
        #{nodebody,jdbcType=LONGVARCHAR},
      </if>
      <if test="guarantycontract != null">
        #{guarantycontract,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spring.cloud.common.po.InvestWithBLOBs">
    update invest
    <set>
      <if test="interest != null">
        interest = #{interest,jdbcType=DOUBLE},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="paidInterest != null">
        paid_interest = #{paidInterest,jdbcType=DECIMAL},
      </if>
      <if test="paidMoney != null">
        paid_money = #{paidMoney,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="loanId != null">
        loan_id = #{loanId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isAutoInvest != null">
        is_auto_invest = #{isAutoInvest,jdbcType=BIT},
      </if>
      <if test="paidPenalty != null">
        paid_penalty = #{paidPenalty,jdbcType=DECIMAL},
      </if>
      <if test="userJiaxi != null">
        user_jiaxi = #{userJiaxi,jdbcType=VARCHAR},
      </if>
      <if test="userCoupon != null">
        user_coupon = #{userCoupon,jdbcType=VARCHAR},
      </if>
      <if test="jiaxibili != null">
        jiaxibili = #{jiaxibili,jdbcType=DOUBLE},
      </if>
      <if test="investMoney != null">
        invest_money = #{investMoney,jdbcType=DOUBLE},
      </if>
      <if test="transferApply != null">
        transfer_apply = #{transferApply,jdbcType=VARCHAR},
      </if>
      <if test="couponMoney != null">
        coupon_money = #{couponMoney,jdbcType=DOUBLE},
      </if>
      <if test="investment != null">
        investment = #{investment,jdbcType=DECIMAL},
      </if>
      <if test="rebate != null">
        rebate = #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="rate0 != null">
        rate0 = #{rate0,jdbcType=DOUBLE},
      </if>
      <if test="rate1 != null">
        rate1 = #{rate1,jdbcType=DOUBLE},
      </if>
      <if test="rate10 != null">
        rate10 = #{rate10,jdbcType=DOUBLE},
      </if>
      <if test="rate11 != null">
        rate11 = #{rate11,jdbcType=DOUBLE},
      </if>
      <if test="rate12 != null">
        rate12 = #{rate12,jdbcType=DOUBLE},
      </if>
      <if test="rate13 != null">
        rate13 = #{rate13,jdbcType=DOUBLE},
      </if>
      <if test="rate14 != null">
        rate14 = #{rate14,jdbcType=DOUBLE},
      </if>
      <if test="rate2 != null">
        rate2 = #{rate2,jdbcType=DOUBLE},
      </if>
      <if test="rate3 != null">
        rate3 = #{rate3,jdbcType=DOUBLE},
      </if>
      <if test="rate4 != null">
        rate4 = #{rate4,jdbcType=DOUBLE},
      </if>
      <if test="rate5 != null">
        rate5 = #{rate5,jdbcType=DOUBLE},
      </if>
      <if test="rate6 != null">
        rate6 = #{rate6,jdbcType=DOUBLE},
      </if>
      <if test="rate7 != null">
        rate7 = #{rate7,jdbcType=DOUBLE},
      </if>
      <if test="bbin != null">
        bbin = #{bbin,jdbcType=DOUBLE},
      </if>
      <if test="fantime != null">
        fantime = #{fantime,jdbcType=DATE},
      </if>
      <if test="resetbbinstatus != null">
        resetbbinstatus = #{resetbbinstatus,jdbcType=INTEGER},
      </if>
      <if test="baoquanid != null">
        baoquanid = #{baoquanid,jdbcType=VARCHAR},
      </if>
      <if test="sourceorderid != null">
        sourceOrderid = #{sourceorderid,jdbcType=VARCHAR},
      </if>
      <if test="hfstatus != null">
        hfstatus = #{hfstatus,jdbcType=VARCHAR},
      </if>
      <if test="usewisdom != null">
        usewisdom = #{usewisdom,jdbcType=CHAR},
      </if>
      <if test="investwisdomid != null">
        investWisdomId = #{investwisdomid,jdbcType=VARCHAR},
      </if>
      <if test="lendpact != null">
        lendPact = #{lendpact,jdbcType=VARCHAR},
      </if>
      <if test="warrantpact != null">
        warrantPact = #{warrantpact,jdbcType=VARCHAR},
      </if>
      <if test="wisdomRevoke != null">
        wisdom_revoke = #{wisdomRevoke,jdbcType=VARCHAR},
      </if>
      <if test="nodebody != null">
        nodebody = #{nodebody,jdbcType=LONGVARCHAR},
      </if>
      <if test="guarantycontract != null">
        guarantycontract = #{guarantycontract,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.spring.cloud.common.po.InvestWithBLOBs">
    update invest
    set interest = #{interest,jdbcType=DOUBLE},
      money = #{money,jdbcType=DOUBLE},
      paid_interest = #{paidInterest,jdbcType=DECIMAL},
      paid_money = #{paidMoney,jdbcType=DECIMAL},
      rate = #{rate,jdbcType=DOUBLE},
      status = #{status,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR},
      loan_id = #{loanId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      is_auto_invest = #{isAutoInvest,jdbcType=BIT},
      paid_penalty = #{paidPenalty,jdbcType=DECIMAL},
      user_jiaxi = #{userJiaxi,jdbcType=VARCHAR},
      user_coupon = #{userCoupon,jdbcType=VARCHAR},
      jiaxibili = #{jiaxibili,jdbcType=DOUBLE},
      invest_money = #{investMoney,jdbcType=DOUBLE},
      transfer_apply = #{transferApply,jdbcType=VARCHAR},
      coupon_money = #{couponMoney,jdbcType=DOUBLE},
      investment = #{investment,jdbcType=DECIMAL},
      rebate = #{rebate,jdbcType=DECIMAL},
      rate0 = #{rate0,jdbcType=DOUBLE},
      rate1 = #{rate1,jdbcType=DOUBLE},
      rate10 = #{rate10,jdbcType=DOUBLE},
      rate11 = #{rate11,jdbcType=DOUBLE},
      rate12 = #{rate12,jdbcType=DOUBLE},
      rate13 = #{rate13,jdbcType=DOUBLE},
      rate14 = #{rate14,jdbcType=DOUBLE},
      rate2 = #{rate2,jdbcType=DOUBLE},
      rate3 = #{rate3,jdbcType=DOUBLE},
      rate4 = #{rate4,jdbcType=DOUBLE},
      rate5 = #{rate5,jdbcType=DOUBLE},
      rate6 = #{rate6,jdbcType=DOUBLE},
      rate7 = #{rate7,jdbcType=DOUBLE},
      bbin = #{bbin,jdbcType=DOUBLE},
      fantime = #{fantime,jdbcType=DATE},
      resetbbinstatus = #{resetbbinstatus,jdbcType=INTEGER},
      baoquanid = #{baoquanid,jdbcType=VARCHAR},
      sourceOrderid = #{sourceorderid,jdbcType=VARCHAR},
      hfstatus = #{hfstatus,jdbcType=VARCHAR},
      usewisdom = #{usewisdom,jdbcType=CHAR},
      investWisdomId = #{investwisdomid,jdbcType=VARCHAR},
      lendPact = #{lendpact,jdbcType=VARCHAR},
      warrantPact = #{warrantpact,jdbcType=VARCHAR},
      wisdom_revoke = #{wisdomRevoke,jdbcType=VARCHAR},
      nodebody = #{nodebody,jdbcType=LONGVARCHAR},
      guarantycontract = #{guarantycontract,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spring.cloud.common.po.Invest">
    update invest
    set interest = #{interest,jdbcType=DOUBLE},
      money = #{money,jdbcType=DOUBLE},
      paid_interest = #{paidInterest,jdbcType=DECIMAL},
      paid_money = #{paidMoney,jdbcType=DECIMAL},
      rate = #{rate,jdbcType=DOUBLE},
      status = #{status,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR},
      loan_id = #{loanId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      is_auto_invest = #{isAutoInvest,jdbcType=BIT},
      paid_penalty = #{paidPenalty,jdbcType=DECIMAL},
      user_jiaxi = #{userJiaxi,jdbcType=VARCHAR},
      user_coupon = #{userCoupon,jdbcType=VARCHAR},
      jiaxibili = #{jiaxibili,jdbcType=DOUBLE},
      invest_money = #{investMoney,jdbcType=DOUBLE},
      transfer_apply = #{transferApply,jdbcType=VARCHAR},
      coupon_money = #{couponMoney,jdbcType=DOUBLE},
      investment = #{investment,jdbcType=DECIMAL},
      rebate = #{rebate,jdbcType=DECIMAL},
      rate0 = #{rate0,jdbcType=DOUBLE},
      rate1 = #{rate1,jdbcType=DOUBLE},
      rate10 = #{rate10,jdbcType=DOUBLE},
      rate11 = #{rate11,jdbcType=DOUBLE},
      rate12 = #{rate12,jdbcType=DOUBLE},
      rate13 = #{rate13,jdbcType=DOUBLE},
      rate14 = #{rate14,jdbcType=DOUBLE},
      rate2 = #{rate2,jdbcType=DOUBLE},
      rate3 = #{rate3,jdbcType=DOUBLE},
      rate4 = #{rate4,jdbcType=DOUBLE},
      rate5 = #{rate5,jdbcType=DOUBLE},
      rate6 = #{rate6,jdbcType=DOUBLE},
      rate7 = #{rate7,jdbcType=DOUBLE},
      bbin = #{bbin,jdbcType=DOUBLE},
      fantime = #{fantime,jdbcType=DATE},
      resetbbinstatus = #{resetbbinstatus,jdbcType=INTEGER},
      baoquanid = #{baoquanid,jdbcType=VARCHAR},
      sourceOrderid = #{sourceorderid,jdbcType=VARCHAR},
      hfstatus = #{hfstatus,jdbcType=VARCHAR},
      usewisdom = #{usewisdom,jdbcType=CHAR},
      investWisdomId = #{investwisdomid,jdbcType=VARCHAR},
      lendPact = #{lendpact,jdbcType=VARCHAR},
      warrantPact = #{warrantpact,jdbcType=VARCHAR},
      wisdom_revoke = #{wisdomRevoke,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>