<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdjr.data.process.mapper.LoanMapper">
  <resultMap id="BaseResultMap" type="com.spring.cloud.common.po.Loan">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="actual_rate" jdbcType="DOUBLE" property="actualRate" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="cardinal_number" jdbcType="DOUBLE" property="cardinalNumber" />
    <result column="commit_time" jdbcType="TIMESTAMP" property="commitTime" />
    <result column="companyno" jdbcType="VARCHAR" property="companyno" />
    <result column="complete_time" jdbcType="TIMESTAMP" property="completeTime" />
    <result column="deadline" jdbcType="INTEGER" property="deadline" />
    <result column="deposit" jdbcType="DOUBLE" property="deposit" />
    <result column="expect_time" jdbcType="TIMESTAMP" property="expectTime" />
    <result column="fee_on_repay" jdbcType="DOUBLE" property="feeOnRepay" />
    <result column="give_money_time" jdbcType="TIMESTAMP" property="giveMoneyTime" />
    <result column="has_pawn" jdbcType="VARCHAR" property="hasPawn" />
    <result column="interest_begin_time" jdbcType="TIMESTAMP" property="interestBeginTime" />
    <result column="investor_fee_rate" jdbcType="DOUBLE" property="investorFeeRate" />
    <result column="loan_gurantee_fee" jdbcType="DOUBLE" property="loanGuranteeFee" />
    <result column="loan_money" jdbcType="DOUBLE" property="loanMoney" />
    <result column="loan_purpose" jdbcType="VARCHAR" property="loanPurpose" />
    <result column="min_invest_money" jdbcType="DOUBLE" property="minInvestMoney" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="overdue_info" jdbcType="VARCHAR" property="overdueInfo" />
    <result column="pawn" jdbcType="VARCHAR" property="pawn" />
    <result column="pawn_name" jdbcType="VARCHAR" property="pawnName" />
    <result column="rate" jdbcType="DOUBLE" property="rate" />
    <result column="repay_day" jdbcType="TIMESTAMP" property="repayDay" />
    <result column="repay_period" jdbcType="VARCHAR" property="repayPeriod" />
    <result column="repay_type" jdbcType="VARCHAR" property="repayType" />
    <result column="risk_level" jdbcType="VARCHAR" property="riskLevel" />
    <result column="seq_num" jdbcType="INTEGER" property="seqNum" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="verified" jdbcType="VARCHAR" property="verified" />
    <result column="verify_message" jdbcType="VARCHAR" property="verifyMessage" />
    <result column="verify_time" jdbcType="TIMESTAMP" property="verifyTime" />
    <result column="video_id" jdbcType="VARCHAR" property="videoId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="verify_user_id" jdbcType="VARCHAR" property="verifyUserId" />
    <result column="max_invest_money" jdbcType="DOUBLE" property="maxInvestMoney" />
    <result column="rate_iboi" jdbcType="DOUBLE" property="rateIboi" />
    <result column="service_charge_rate" jdbcType="DOUBLE" property="serviceChargeRate" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="use_coupon" jdbcType="INTEGER" property="useCoupon" />
    <result column="coupontype" jdbcType="VARCHAR" property="coupontype" />
    <result column="coupontypename" jdbcType="VARCHAR" property="coupontypename" />
    <result column="voucherScheme" jdbcType="VARCHAR" property="voucherscheme" />
    <result column="hetongqianzhui" jdbcType="VARCHAR" property="hetongqianzhui" />
    <result column="baoquanid" jdbcType="VARCHAR" property="baoquanid" />
    <result column="towhere" jdbcType="VARCHAR" property="towhere" />
    <result column="insuranceCardtype" jdbcType="VARCHAR" property="insurancecardtype" />
    <result column="insuranceIdcard" jdbcType="VARCHAR" property="insuranceidcard" />
    <result column="insuranceNo" jdbcType="VARCHAR" property="insuranceno" />
    <result column="insuranceUsername" jdbcType="VARCHAR" property="insuranceusername" />
    <result column="loanguarantee" jdbcType="VARCHAR" property="loanguarantee" />
    <result column="fromwhere" jdbcType="VARCHAR" property="fromwhere" />
    <result column="loannum" jdbcType="VARCHAR" property="loannum" />
    <result column="orderCode" jdbcType="VARCHAR" property="ordercode" />
    <result column="totalAmount" jdbcType="VARCHAR" property="totalamount" />
    <result column="xporderid" jdbcType="VARCHAR" property="xporderid" />
    <result column="xpremark" jdbcType="VARCHAR" property="xpremark" />
    <result column="preservations" jdbcType="VARCHAR" property="preservations" />
    <result column="repaymentGuaranteeMeasures" jdbcType="VARCHAR" property="repaymentguaranteemeasures" />
    <result column="projectIntroduction" jdbcType="VARCHAR" property="projectintroduction" />
    <result column="whetherWisdom" jdbcType="VARCHAR" property="whetherwisdom" />
    <result column="safeguardModel" jdbcType="VARCHAR" property="safeguardmodel" />
    <result column="orderNo" jdbcType="VARCHAR" property="orderno" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.spring.cloud.common.po.LoanWithBLOBs">
    <result column="company_description" jdbcType="LONGVARCHAR" property="companyDescription" />
    <result column="company_name" jdbcType="LONGVARCHAR" property="companyName" />
    <result column="contract_type" jdbcType="LONGVARCHAR" property="contractType" />
    <result column="custom_picture" jdbcType="LONGVARCHAR" property="customPicture" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="fund_description" jdbcType="LONGVARCHAR" property="fundDescription" />
    <result column="guarantee_company_description" jdbcType="LONGVARCHAR" property="guaranteeCompanyDescription" />
    <result column="guarantee_company_name" jdbcType="LONGVARCHAR" property="guaranteeCompanyName" />
    <result column="guarantee_info_description" jdbcType="LONGVARCHAR" property="guaranteeInfoDescription" />
    <result column="loan_instruction" jdbcType="LONGVARCHAR" property="loanInstruction" />
    <result column="location" jdbcType="LONGVARCHAR" property="location" />
    <result column="policy_description" jdbcType="LONGVARCHAR" property="policyDescription" />
    <result column="risk_description" jdbcType="LONGVARCHAR" property="riskDescription" />
    <result column="risk_instruction" jdbcType="LONGVARCHAR" property="riskInstruction" />
    <result column="guarantycontract_type" jdbcType="LONGVARCHAR" property="guarantycontractType" />
    <result column="transfer_type" jdbcType="LONGVARCHAR" property="transferType" />
    <result column="invest_contract_type" jdbcType="LONGVARCHAR" property="investContractType" />
    <result column="node_body" jdbcType="LONGVARCHAR" property="nodeBody" />
  </resultMap>
  <sql id="Base_Column_List">
    id, actual_rate, business_type, cancel_time, cardinal_number, commit_time, companyno, 
    complete_time, deadline, deposit, expect_time, fee_on_repay, give_money_time, has_pawn, 
    interest_begin_time, investor_fee_rate, loan_gurantee_fee, loan_money, loan_purpose, 
    min_invest_money, money, name, overdue_info, pawn, pawn_name, rate, repay_day, repay_period, 
    repay_type, risk_level, seq_num, status, verified, verify_message, verify_time, video_id, 
    user_id, verify_user_id, max_invest_money, rate_iboi, service_charge_rate, type, 
    publish_time, use_coupon, coupontype, coupontypename, voucherScheme, hetongqianzhui, 
    baoquanid, towhere, insuranceCardtype, insuranceIdcard, insuranceNo, insuranceUsername, 
    loanguarantee, fromwhere, loannum, orderCode, totalAmount, xporderid, xpremark, preservations, 
    repaymentGuaranteeMeasures, projectIntroduction, whetherWisdom, safeguardModel, orderNo
  </sql>
  <sql id="Blob_Column_List">
    company_description, company_name, contract_type, custom_picture, description, fund_description, 
    guarantee_company_description, guarantee_company_name, guarantee_info_description, 
    loan_instruction, location, policy_description, risk_description, risk_instruction, 
    guarantycontract_type, transfer_type, invest_contract_type, node_body
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from loan
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from loan
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.spring.cloud.common.po.LoanWithBLOBs">
    insert into loan (id, actual_rate, business_type, 
      cancel_time, cardinal_number, commit_time, 
      companyno, complete_time, deadline, 
      deposit, expect_time, fee_on_repay, 
      give_money_time, has_pawn, interest_begin_time, 
      investor_fee_rate, loan_gurantee_fee, loan_money, 
      loan_purpose, min_invest_money, money, 
      name, overdue_info, pawn, 
      pawn_name, rate, repay_day, 
      repay_period, repay_type, risk_level, 
      seq_num, status, verified, 
      verify_message, verify_time, video_id, 
      user_id, verify_user_id, max_invest_money, 
      rate_iboi, service_charge_rate, type, 
      publish_time, use_coupon, coupontype, 
      coupontypename, voucherScheme, hetongqianzhui, 
      baoquanid, towhere, insuranceCardtype, 
      insuranceIdcard, insuranceNo, insuranceUsername, 
      loanguarantee, fromwhere, loannum, 
      orderCode, totalAmount, xporderid, 
      xpremark, preservations, repaymentGuaranteeMeasures, 
      projectIntroduction, whetherWisdom, safeguardModel, 
      orderNo, company_description, company_name, 
      contract_type, custom_picture, description, 
      fund_description, guarantee_company_description, 
      guarantee_company_name, guarantee_info_description, 
      loan_instruction, location, policy_description, 
      risk_description, risk_instruction, 
      guarantycontract_type, transfer_type, 
      invest_contract_type, node_body)
    values (#{id,jdbcType=VARCHAR}, #{actualRate,jdbcType=DOUBLE}, #{businessType,jdbcType=VARCHAR}, 
      #{cancelTime,jdbcType=TIMESTAMP}, #{cardinalNumber,jdbcType=DOUBLE}, #{commitTime,jdbcType=TIMESTAMP}, 
      #{companyno,jdbcType=VARCHAR}, #{completeTime,jdbcType=TIMESTAMP}, #{deadline,jdbcType=INTEGER}, 
      #{deposit,jdbcType=DOUBLE}, #{expectTime,jdbcType=TIMESTAMP}, #{feeOnRepay,jdbcType=DOUBLE}, 
      #{giveMoneyTime,jdbcType=TIMESTAMP}, #{hasPawn,jdbcType=VARCHAR}, #{interestBeginTime,jdbcType=TIMESTAMP}, 
      #{investorFeeRate,jdbcType=DOUBLE}, #{loanGuranteeFee,jdbcType=DOUBLE}, #{loanMoney,jdbcType=DOUBLE}, 
      #{loanPurpose,jdbcType=VARCHAR}, #{minInvestMoney,jdbcType=DOUBLE}, #{money,jdbcType=DOUBLE}, 
      #{name,jdbcType=VARCHAR}, #{overdueInfo,jdbcType=VARCHAR}, #{pawn,jdbcType=VARCHAR}, 
      #{pawnName,jdbcType=VARCHAR}, #{rate,jdbcType=DOUBLE}, #{repayDay,jdbcType=TIMESTAMP}, 
      #{repayPeriod,jdbcType=VARCHAR}, #{repayType,jdbcType=VARCHAR}, #{riskLevel,jdbcType=VARCHAR}, 
      #{seqNum,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{verified,jdbcType=VARCHAR}, 
      #{verifyMessage,jdbcType=VARCHAR}, #{verifyTime,jdbcType=TIMESTAMP}, #{videoId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{verifyUserId,jdbcType=VARCHAR}, #{maxInvestMoney,jdbcType=DOUBLE}, 
      #{rateIboi,jdbcType=DOUBLE}, #{serviceChargeRate,jdbcType=DOUBLE}, #{type,jdbcType=VARCHAR}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{useCoupon,jdbcType=INTEGER}, #{coupontype,jdbcType=VARCHAR}, 
      #{coupontypename,jdbcType=VARCHAR}, #{voucherscheme,jdbcType=VARCHAR}, #{hetongqianzhui,jdbcType=VARCHAR}, 
      #{baoquanid,jdbcType=VARCHAR}, #{towhere,jdbcType=VARCHAR}, #{insurancecardtype,jdbcType=VARCHAR}, 
      #{insuranceidcard,jdbcType=VARCHAR}, #{insuranceno,jdbcType=VARCHAR}, #{insuranceusername,jdbcType=VARCHAR}, 
      #{loanguarantee,jdbcType=VARCHAR}, #{fromwhere,jdbcType=VARCHAR}, #{loannum,jdbcType=VARCHAR}, 
      #{ordercode,jdbcType=VARCHAR}, #{totalamount,jdbcType=VARCHAR}, #{xporderid,jdbcType=VARCHAR}, 
      #{xpremark,jdbcType=VARCHAR}, #{preservations,jdbcType=VARCHAR}, #{repaymentguaranteemeasures,jdbcType=VARCHAR}, 
      #{projectintroduction,jdbcType=VARCHAR}, #{whetherwisdom,jdbcType=VARCHAR}, #{safeguardmodel,jdbcType=VARCHAR}, 
      #{orderno,jdbcType=VARCHAR}, #{companyDescription,jdbcType=LONGVARCHAR}, #{companyName,jdbcType=LONGVARCHAR}, 
      #{contractType,jdbcType=LONGVARCHAR}, #{customPicture,jdbcType=LONGVARCHAR}, #{description,jdbcType=LONGVARCHAR}, 
      #{fundDescription,jdbcType=LONGVARCHAR}, #{guaranteeCompanyDescription,jdbcType=LONGVARCHAR}, 
      #{guaranteeCompanyName,jdbcType=LONGVARCHAR}, #{guaranteeInfoDescription,jdbcType=LONGVARCHAR}, 
      #{loanInstruction,jdbcType=LONGVARCHAR}, #{location,jdbcType=LONGVARCHAR}, #{policyDescription,jdbcType=LONGVARCHAR}, 
      #{riskDescription,jdbcType=LONGVARCHAR}, #{riskInstruction,jdbcType=LONGVARCHAR}, 
      #{guarantycontractType,jdbcType=LONGVARCHAR}, #{transferType,jdbcType=LONGVARCHAR}, 
      #{investContractType,jdbcType=LONGVARCHAR}, #{nodeBody,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.spring.cloud.common.po.LoanWithBLOBs">
    insert into loan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="actualRate != null">
        actual_rate,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="cancelTime != null">
        cancel_time,
      </if>
      <if test="cardinalNumber != null">
        cardinal_number,
      </if>
      <if test="commitTime != null">
        commit_time,
      </if>
      <if test="companyno != null">
        companyno,
      </if>
      <if test="completeTime != null">
        complete_time,
      </if>
      <if test="deadline != null">
        deadline,
      </if>
      <if test="deposit != null">
        deposit,
      </if>
      <if test="expectTime != null">
        expect_time,
      </if>
      <if test="feeOnRepay != null">
        fee_on_repay,
      </if>
      <if test="giveMoneyTime != null">
        give_money_time,
      </if>
      <if test="hasPawn != null">
        has_pawn,
      </if>
      <if test="interestBeginTime != null">
        interest_begin_time,
      </if>
      <if test="investorFeeRate != null">
        investor_fee_rate,
      </if>
      <if test="loanGuranteeFee != null">
        loan_gurantee_fee,
      </if>
      <if test="loanMoney != null">
        loan_money,
      </if>
      <if test="loanPurpose != null">
        loan_purpose,
      </if>
      <if test="minInvestMoney != null">
        min_invest_money,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="overdueInfo != null">
        overdue_info,
      </if>
      <if test="pawn != null">
        pawn,
      </if>
      <if test="pawnName != null">
        pawn_name,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="repayDay != null">
        repay_day,
      </if>
      <if test="repayPeriod != null">
        repay_period,
      </if>
      <if test="repayType != null">
        repay_type,
      </if>
      <if test="riskLevel != null">
        risk_level,
      </if>
      <if test="seqNum != null">
        seq_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="verified != null">
        verified,
      </if>
      <if test="verifyMessage != null">
        verify_message,
      </if>
      <if test="verifyTime != null">
        verify_time,
      </if>
      <if test="videoId != null">
        video_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="verifyUserId != null">
        verify_user_id,
      </if>
      <if test="maxInvestMoney != null">
        max_invest_money,
      </if>
      <if test="rateIboi != null">
        rate_iboi,
      </if>
      <if test="serviceChargeRate != null">
        service_charge_rate,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="useCoupon != null">
        use_coupon,
      </if>
      <if test="coupontype != null">
        coupontype,
      </if>
      <if test="coupontypename != null">
        coupontypename,
      </if>
      <if test="voucherscheme != null">
        voucherScheme,
      </if>
      <if test="hetongqianzhui != null">
        hetongqianzhui,
      </if>
      <if test="baoquanid != null">
        baoquanid,
      </if>
      <if test="towhere != null">
        towhere,
      </if>
      <if test="insurancecardtype != null">
        insuranceCardtype,
      </if>
      <if test="insuranceidcard != null">
        insuranceIdcard,
      </if>
      <if test="insuranceno != null">
        insuranceNo,
      </if>
      <if test="insuranceusername != null">
        insuranceUsername,
      </if>
      <if test="loanguarantee != null">
        loanguarantee,
      </if>
      <if test="fromwhere != null">
        fromwhere,
      </if>
      <if test="loannum != null">
        loannum,
      </if>
      <if test="ordercode != null">
        orderCode,
      </if>
      <if test="totalamount != null">
        totalAmount,
      </if>
      <if test="xporderid != null">
        xporderid,
      </if>
      <if test="xpremark != null">
        xpremark,
      </if>
      <if test="preservations != null">
        preservations,
      </if>
      <if test="repaymentguaranteemeasures != null">
        repaymentGuaranteeMeasures,
      </if>
      <if test="projectintroduction != null">
        projectIntroduction,
      </if>
      <if test="whetherwisdom != null">
        whetherWisdom,
      </if>
      <if test="safeguardmodel != null">
        safeguardModel,
      </if>
      <if test="orderno != null">
        orderNo,
      </if>
      <if test="companyDescription != null">
        company_description,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="contractType != null">
        contract_type,
      </if>
      <if test="customPicture != null">
        custom_picture,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="fundDescription != null">
        fund_description,
      </if>
      <if test="guaranteeCompanyDescription != null">
        guarantee_company_description,
      </if>
      <if test="guaranteeCompanyName != null">
        guarantee_company_name,
      </if>
      <if test="guaranteeInfoDescription != null">
        guarantee_info_description,
      </if>
      <if test="loanInstruction != null">
        loan_instruction,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="policyDescription != null">
        policy_description,
      </if>
      <if test="riskDescription != null">
        risk_description,
      </if>
      <if test="riskInstruction != null">
        risk_instruction,
      </if>
      <if test="guarantycontractType != null">
        guarantycontract_type,
      </if>
      <if test="transferType != null">
        transfer_type,
      </if>
      <if test="investContractType != null">
        invest_contract_type,
      </if>
      <if test="nodeBody != null">
        node_body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="actualRate != null">
        #{actualRate,jdbcType=DOUBLE},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="cancelTime != null">
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardinalNumber != null">
        #{cardinalNumber,jdbcType=DOUBLE},
      </if>
      <if test="commitTime != null">
        #{commitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyno != null">
        #{companyno,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null">
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=INTEGER},
      </if>
      <if test="deposit != null">
        #{deposit,jdbcType=DOUBLE},
      </if>
      <if test="expectTime != null">
        #{expectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feeOnRepay != null">
        #{feeOnRepay,jdbcType=DOUBLE},
      </if>
      <if test="giveMoneyTime != null">
        #{giveMoneyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasPawn != null">
        #{hasPawn,jdbcType=VARCHAR},
      </if>
      <if test="interestBeginTime != null">
        #{interestBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="investorFeeRate != null">
        #{investorFeeRate,jdbcType=DOUBLE},
      </if>
      <if test="loanGuranteeFee != null">
        #{loanGuranteeFee,jdbcType=DOUBLE},
      </if>
      <if test="loanMoney != null">
        #{loanMoney,jdbcType=DOUBLE},
      </if>
      <if test="loanPurpose != null">
        #{loanPurpose,jdbcType=VARCHAR},
      </if>
      <if test="minInvestMoney != null">
        #{minInvestMoney,jdbcType=DOUBLE},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="overdueInfo != null">
        #{overdueInfo,jdbcType=VARCHAR},
      </if>
      <if test="pawn != null">
        #{pawn,jdbcType=VARCHAR},
      </if>
      <if test="pawnName != null">
        #{pawnName,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DOUBLE},
      </if>
      <if test="repayDay != null">
        #{repayDay,jdbcType=TIMESTAMP},
      </if>
      <if test="repayPeriod != null">
        #{repayPeriod,jdbcType=VARCHAR},
      </if>
      <if test="repayType != null">
        #{repayType,jdbcType=VARCHAR},
      </if>
      <if test="riskLevel != null">
        #{riskLevel,jdbcType=VARCHAR},
      </if>
      <if test="seqNum != null">
        #{seqNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="verified != null">
        #{verified,jdbcType=VARCHAR},
      </if>
      <if test="verifyMessage != null">
        #{verifyMessage,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null">
        #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoId != null">
        #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="verifyUserId != null">
        #{verifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="maxInvestMoney != null">
        #{maxInvestMoney,jdbcType=DOUBLE},
      </if>
      <if test="rateIboi != null">
        #{rateIboi,jdbcType=DOUBLE},
      </if>
      <if test="serviceChargeRate != null">
        #{serviceChargeRate,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useCoupon != null">
        #{useCoupon,jdbcType=INTEGER},
      </if>
      <if test="coupontype != null">
        #{coupontype,jdbcType=VARCHAR},
      </if>
      <if test="coupontypename != null">
        #{coupontypename,jdbcType=VARCHAR},
      </if>
      <if test="voucherscheme != null">
        #{voucherscheme,jdbcType=VARCHAR},
      </if>
      <if test="hetongqianzhui != null">
        #{hetongqianzhui,jdbcType=VARCHAR},
      </if>
      <if test="baoquanid != null">
        #{baoquanid,jdbcType=VARCHAR},
      </if>
      <if test="towhere != null">
        #{towhere,jdbcType=VARCHAR},
      </if>
      <if test="insurancecardtype != null">
        #{insurancecardtype,jdbcType=VARCHAR},
      </if>
      <if test="insuranceidcard != null">
        #{insuranceidcard,jdbcType=VARCHAR},
      </if>
      <if test="insuranceno != null">
        #{insuranceno,jdbcType=VARCHAR},
      </if>
      <if test="insuranceusername != null">
        #{insuranceusername,jdbcType=VARCHAR},
      </if>
      <if test="loanguarantee != null">
        #{loanguarantee,jdbcType=VARCHAR},
      </if>
      <if test="fromwhere != null">
        #{fromwhere,jdbcType=VARCHAR},
      </if>
      <if test="loannum != null">
        #{loannum,jdbcType=VARCHAR},
      </if>
      <if test="ordercode != null">
        #{ordercode,jdbcType=VARCHAR},
      </if>
      <if test="totalamount != null">
        #{totalamount,jdbcType=VARCHAR},
      </if>
      <if test="xporderid != null">
        #{xporderid,jdbcType=VARCHAR},
      </if>
      <if test="xpremark != null">
        #{xpremark,jdbcType=VARCHAR},
      </if>
      <if test="preservations != null">
        #{preservations,jdbcType=VARCHAR},
      </if>
      <if test="repaymentguaranteemeasures != null">
        #{repaymentguaranteemeasures,jdbcType=VARCHAR},
      </if>
      <if test="projectintroduction != null">
        #{projectintroduction,jdbcType=VARCHAR},
      </if>
      <if test="whetherwisdom != null">
        #{whetherwisdom,jdbcType=VARCHAR},
      </if>
      <if test="safeguardmodel != null">
        #{safeguardmodel,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="companyDescription != null">
        #{companyDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=LONGVARCHAR},
      </if>
      <if test="contractType != null">
        #{contractType,jdbcType=LONGVARCHAR},
      </if>
      <if test="customPicture != null">
        #{customPicture,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="fundDescription != null">
        #{fundDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="guaranteeCompanyDescription != null">
        #{guaranteeCompanyDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="guaranteeCompanyName != null">
        #{guaranteeCompanyName,jdbcType=LONGVARCHAR},
      </if>
      <if test="guaranteeInfoDescription != null">
        #{guaranteeInfoDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="loanInstruction != null">
        #{loanInstruction,jdbcType=LONGVARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=LONGVARCHAR},
      </if>
      <if test="policyDescription != null">
        #{policyDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="riskDescription != null">
        #{riskDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="riskInstruction != null">
        #{riskInstruction,jdbcType=LONGVARCHAR},
      </if>
      <if test="guarantycontractType != null">
        #{guarantycontractType,jdbcType=LONGVARCHAR},
      </if>
      <if test="transferType != null">
        #{transferType,jdbcType=LONGVARCHAR},
      </if>
      <if test="investContractType != null">
        #{investContractType,jdbcType=LONGVARCHAR},
      </if>
      <if test="nodeBody != null">
        #{nodeBody,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spring.cloud.common.po.LoanWithBLOBs">
    update loan
    <set>
      <if test="actualRate != null">
        actual_rate = #{actualRate,jdbcType=DOUBLE},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="cancelTime != null">
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardinalNumber != null">
        cardinal_number = #{cardinalNumber,jdbcType=DOUBLE},
      </if>
      <if test="commitTime != null">
        commit_time = #{commitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyno != null">
        companyno = #{companyno,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null">
        complete_time = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadline != null">
        deadline = #{deadline,jdbcType=INTEGER},
      </if>
      <if test="deposit != null">
        deposit = #{deposit,jdbcType=DOUBLE},
      </if>
      <if test="expectTime != null">
        expect_time = #{expectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feeOnRepay != null">
        fee_on_repay = #{feeOnRepay,jdbcType=DOUBLE},
      </if>
      <if test="giveMoneyTime != null">
        give_money_time = #{giveMoneyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasPawn != null">
        has_pawn = #{hasPawn,jdbcType=VARCHAR},
      </if>
      <if test="interestBeginTime != null">
        interest_begin_time = #{interestBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="investorFeeRate != null">
        investor_fee_rate = #{investorFeeRate,jdbcType=DOUBLE},
      </if>
      <if test="loanGuranteeFee != null">
        loan_gurantee_fee = #{loanGuranteeFee,jdbcType=DOUBLE},
      </if>
      <if test="loanMoney != null">
        loan_money = #{loanMoney,jdbcType=DOUBLE},
      </if>
      <if test="loanPurpose != null">
        loan_purpose = #{loanPurpose,jdbcType=VARCHAR},
      </if>
      <if test="minInvestMoney != null">
        min_invest_money = #{minInvestMoney,jdbcType=DOUBLE},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="overdueInfo != null">
        overdue_info = #{overdueInfo,jdbcType=VARCHAR},
      </if>
      <if test="pawn != null">
        pawn = #{pawn,jdbcType=VARCHAR},
      </if>
      <if test="pawnName != null">
        pawn_name = #{pawnName,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DOUBLE},
      </if>
      <if test="repayDay != null">
        repay_day = #{repayDay,jdbcType=TIMESTAMP},
      </if>
      <if test="repayPeriod != null">
        repay_period = #{repayPeriod,jdbcType=VARCHAR},
      </if>
      <if test="repayType != null">
        repay_type = #{repayType,jdbcType=VARCHAR},
      </if>
      <if test="riskLevel != null">
        risk_level = #{riskLevel,jdbcType=VARCHAR},
      </if>
      <if test="seqNum != null">
        seq_num = #{seqNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="verified != null">
        verified = #{verified,jdbcType=VARCHAR},
      </if>
      <if test="verifyMessage != null">
        verify_message = #{verifyMessage,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null">
        verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoId != null">
        video_id = #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="verifyUserId != null">
        verify_user_id = #{verifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="maxInvestMoney != null">
        max_invest_money = #{maxInvestMoney,jdbcType=DOUBLE},
      </if>
      <if test="rateIboi != null">
        rate_iboi = #{rateIboi,jdbcType=DOUBLE},
      </if>
      <if test="serviceChargeRate != null">
        service_charge_rate = #{serviceChargeRate,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useCoupon != null">
        use_coupon = #{useCoupon,jdbcType=INTEGER},
      </if>
      <if test="coupontype != null">
        coupontype = #{coupontype,jdbcType=VARCHAR},
      </if>
      <if test="coupontypename != null">
        coupontypename = #{coupontypename,jdbcType=VARCHAR},
      </if>
      <if test="voucherscheme != null">
        voucherScheme = #{voucherscheme,jdbcType=VARCHAR},
      </if>
      <if test="hetongqianzhui != null">
        hetongqianzhui = #{hetongqianzhui,jdbcType=VARCHAR},
      </if>
      <if test="baoquanid != null">
        baoquanid = #{baoquanid,jdbcType=VARCHAR},
      </if>
      <if test="towhere != null">
        towhere = #{towhere,jdbcType=VARCHAR},
      </if>
      <if test="insurancecardtype != null">
        insuranceCardtype = #{insurancecardtype,jdbcType=VARCHAR},
      </if>
      <if test="insuranceidcard != null">
        insuranceIdcard = #{insuranceidcard,jdbcType=VARCHAR},
      </if>
      <if test="insuranceno != null">
        insuranceNo = #{insuranceno,jdbcType=VARCHAR},
      </if>
      <if test="insuranceusername != null">
        insuranceUsername = #{insuranceusername,jdbcType=VARCHAR},
      </if>
      <if test="loanguarantee != null">
        loanguarantee = #{loanguarantee,jdbcType=VARCHAR},
      </if>
      <if test="fromwhere != null">
        fromwhere = #{fromwhere,jdbcType=VARCHAR},
      </if>
      <if test="loannum != null">
        loannum = #{loannum,jdbcType=VARCHAR},
      </if>
      <if test="ordercode != null">
        orderCode = #{ordercode,jdbcType=VARCHAR},
      </if>
      <if test="totalamount != null">
        totalAmount = #{totalamount,jdbcType=VARCHAR},
      </if>
      <if test="xporderid != null">
        xporderid = #{xporderid,jdbcType=VARCHAR},
      </if>
      <if test="xpremark != null">
        xpremark = #{xpremark,jdbcType=VARCHAR},
      </if>
      <if test="preservations != null">
        preservations = #{preservations,jdbcType=VARCHAR},
      </if>
      <if test="repaymentguaranteemeasures != null">
        repaymentGuaranteeMeasures = #{repaymentguaranteemeasures,jdbcType=VARCHAR},
      </if>
      <if test="projectintroduction != null">
        projectIntroduction = #{projectintroduction,jdbcType=VARCHAR},
      </if>
      <if test="whetherwisdom != null">
        whetherWisdom = #{whetherwisdom,jdbcType=VARCHAR},
      </if>
      <if test="safeguardmodel != null">
        safeguardModel = #{safeguardmodel,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="companyDescription != null">
        company_description = #{companyDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=LONGVARCHAR},
      </if>
      <if test="contractType != null">
        contract_type = #{contractType,jdbcType=LONGVARCHAR},
      </if>
      <if test="customPicture != null">
        custom_picture = #{customPicture,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="fundDescription != null">
        fund_description = #{fundDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="guaranteeCompanyDescription != null">
        guarantee_company_description = #{guaranteeCompanyDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="guaranteeCompanyName != null">
        guarantee_company_name = #{guaranteeCompanyName,jdbcType=LONGVARCHAR},
      </if>
      <if test="guaranteeInfoDescription != null">
        guarantee_info_description = #{guaranteeInfoDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="loanInstruction != null">
        loan_instruction = #{loanInstruction,jdbcType=LONGVARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=LONGVARCHAR},
      </if>
      <if test="policyDescription != null">
        policy_description = #{policyDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="riskDescription != null">
        risk_description = #{riskDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="riskInstruction != null">
        risk_instruction = #{riskInstruction,jdbcType=LONGVARCHAR},
      </if>
      <if test="guarantycontractType != null">
        guarantycontract_type = #{guarantycontractType,jdbcType=LONGVARCHAR},
      </if>
      <if test="transferType != null">
        transfer_type = #{transferType,jdbcType=LONGVARCHAR},
      </if>
      <if test="investContractType != null">
        invest_contract_type = #{investContractType,jdbcType=LONGVARCHAR},
      </if>
      <if test="nodeBody != null">
        node_body = #{nodeBody,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.spring.cloud.common.po.LoanWithBLOBs">
    update loan
    set actual_rate = #{actualRate,jdbcType=DOUBLE},
      business_type = #{businessType,jdbcType=VARCHAR},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      cardinal_number = #{cardinalNumber,jdbcType=DOUBLE},
      commit_time = #{commitTime,jdbcType=TIMESTAMP},
      companyno = #{companyno,jdbcType=VARCHAR},
      complete_time = #{completeTime,jdbcType=TIMESTAMP},
      deadline = #{deadline,jdbcType=INTEGER},
      deposit = #{deposit,jdbcType=DOUBLE},
      expect_time = #{expectTime,jdbcType=TIMESTAMP},
      fee_on_repay = #{feeOnRepay,jdbcType=DOUBLE},
      give_money_time = #{giveMoneyTime,jdbcType=TIMESTAMP},
      has_pawn = #{hasPawn,jdbcType=VARCHAR},
      interest_begin_time = #{interestBeginTime,jdbcType=TIMESTAMP},
      investor_fee_rate = #{investorFeeRate,jdbcType=DOUBLE},
      loan_gurantee_fee = #{loanGuranteeFee,jdbcType=DOUBLE},
      loan_money = #{loanMoney,jdbcType=DOUBLE},
      loan_purpose = #{loanPurpose,jdbcType=VARCHAR},
      min_invest_money = #{minInvestMoney,jdbcType=DOUBLE},
      money = #{money,jdbcType=DOUBLE},
      name = #{name,jdbcType=VARCHAR},
      overdue_info = #{overdueInfo,jdbcType=VARCHAR},
      pawn = #{pawn,jdbcType=VARCHAR},
      pawn_name = #{pawnName,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=DOUBLE},
      repay_day = #{repayDay,jdbcType=TIMESTAMP},
      repay_period = #{repayPeriod,jdbcType=VARCHAR},
      repay_type = #{repayType,jdbcType=VARCHAR},
      risk_level = #{riskLevel,jdbcType=VARCHAR},
      seq_num = #{seqNum,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      verified = #{verified,jdbcType=VARCHAR},
      verify_message = #{verifyMessage,jdbcType=VARCHAR},
      verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      video_id = #{videoId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      verify_user_id = #{verifyUserId,jdbcType=VARCHAR},
      max_invest_money = #{maxInvestMoney,jdbcType=DOUBLE},
      rate_iboi = #{rateIboi,jdbcType=DOUBLE},
      service_charge_rate = #{serviceChargeRate,jdbcType=DOUBLE},
      type = #{type,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      use_coupon = #{useCoupon,jdbcType=INTEGER},
      coupontype = #{coupontype,jdbcType=VARCHAR},
      coupontypename = #{coupontypename,jdbcType=VARCHAR},
      voucherScheme = #{voucherscheme,jdbcType=VARCHAR},
      hetongqianzhui = #{hetongqianzhui,jdbcType=VARCHAR},
      baoquanid = #{baoquanid,jdbcType=VARCHAR},
      towhere = #{towhere,jdbcType=VARCHAR},
      insuranceCardtype = #{insurancecardtype,jdbcType=VARCHAR},
      insuranceIdcard = #{insuranceidcard,jdbcType=VARCHAR},
      insuranceNo = #{insuranceno,jdbcType=VARCHAR},
      insuranceUsername = #{insuranceusername,jdbcType=VARCHAR},
      loanguarantee = #{loanguarantee,jdbcType=VARCHAR},
      fromwhere = #{fromwhere,jdbcType=VARCHAR},
      loannum = #{loannum,jdbcType=VARCHAR},
      orderCode = #{ordercode,jdbcType=VARCHAR},
      totalAmount = #{totalamount,jdbcType=VARCHAR},
      xporderid = #{xporderid,jdbcType=VARCHAR},
      xpremark = #{xpremark,jdbcType=VARCHAR},
      preservations = #{preservations,jdbcType=VARCHAR},
      repaymentGuaranteeMeasures = #{repaymentguaranteemeasures,jdbcType=VARCHAR},
      projectIntroduction = #{projectintroduction,jdbcType=VARCHAR},
      whetherWisdom = #{whetherwisdom,jdbcType=VARCHAR},
      safeguardModel = #{safeguardmodel,jdbcType=VARCHAR},
      orderNo = #{orderno,jdbcType=VARCHAR},
      company_description = #{companyDescription,jdbcType=LONGVARCHAR},
      company_name = #{companyName,jdbcType=LONGVARCHAR},
      contract_type = #{contractType,jdbcType=LONGVARCHAR},
      custom_picture = #{customPicture,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      fund_description = #{fundDescription,jdbcType=LONGVARCHAR},
      guarantee_company_description = #{guaranteeCompanyDescription,jdbcType=LONGVARCHAR},
      guarantee_company_name = #{guaranteeCompanyName,jdbcType=LONGVARCHAR},
      guarantee_info_description = #{guaranteeInfoDescription,jdbcType=LONGVARCHAR},
      loan_instruction = #{loanInstruction,jdbcType=LONGVARCHAR},
      location = #{location,jdbcType=LONGVARCHAR},
      policy_description = #{policyDescription,jdbcType=LONGVARCHAR},
      risk_description = #{riskDescription,jdbcType=LONGVARCHAR},
      risk_instruction = #{riskInstruction,jdbcType=LONGVARCHAR},
      guarantycontract_type = #{guarantycontractType,jdbcType=LONGVARCHAR},
      transfer_type = #{transferType,jdbcType=LONGVARCHAR},
      invest_contract_type = #{investContractType,jdbcType=LONGVARCHAR},
      node_body = #{nodeBody,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spring.cloud.common.po.Loan">
    update loan
    set actual_rate = #{actualRate,jdbcType=DOUBLE},
      business_type = #{businessType,jdbcType=VARCHAR},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      cardinal_number = #{cardinalNumber,jdbcType=DOUBLE},
      commit_time = #{commitTime,jdbcType=TIMESTAMP},
      companyno = #{companyno,jdbcType=VARCHAR},
      complete_time = #{completeTime,jdbcType=TIMESTAMP},
      deadline = #{deadline,jdbcType=INTEGER},
      deposit = #{deposit,jdbcType=DOUBLE},
      expect_time = #{expectTime,jdbcType=TIMESTAMP},
      fee_on_repay = #{feeOnRepay,jdbcType=DOUBLE},
      give_money_time = #{giveMoneyTime,jdbcType=TIMESTAMP},
      has_pawn = #{hasPawn,jdbcType=VARCHAR},
      interest_begin_time = #{interestBeginTime,jdbcType=TIMESTAMP},
      investor_fee_rate = #{investorFeeRate,jdbcType=DOUBLE},
      loan_gurantee_fee = #{loanGuranteeFee,jdbcType=DOUBLE},
      loan_money = #{loanMoney,jdbcType=DOUBLE},
      loan_purpose = #{loanPurpose,jdbcType=VARCHAR},
      min_invest_money = #{minInvestMoney,jdbcType=DOUBLE},
      money = #{money,jdbcType=DOUBLE},
      name = #{name,jdbcType=VARCHAR},
      overdue_info = #{overdueInfo,jdbcType=VARCHAR},
      pawn = #{pawn,jdbcType=VARCHAR},
      pawn_name = #{pawnName,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=DOUBLE},
      repay_day = #{repayDay,jdbcType=TIMESTAMP},
      repay_period = #{repayPeriod,jdbcType=VARCHAR},
      repay_type = #{repayType,jdbcType=VARCHAR},
      risk_level = #{riskLevel,jdbcType=VARCHAR},
      seq_num = #{seqNum,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      verified = #{verified,jdbcType=VARCHAR},
      verify_message = #{verifyMessage,jdbcType=VARCHAR},
      verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      video_id = #{videoId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      verify_user_id = #{verifyUserId,jdbcType=VARCHAR},
      max_invest_money = #{maxInvestMoney,jdbcType=DOUBLE},
      rate_iboi = #{rateIboi,jdbcType=DOUBLE},
      service_charge_rate = #{serviceChargeRate,jdbcType=DOUBLE},
      type = #{type,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      use_coupon = #{useCoupon,jdbcType=INTEGER},
      coupontype = #{coupontype,jdbcType=VARCHAR},
      coupontypename = #{coupontypename,jdbcType=VARCHAR},
      voucherScheme = #{voucherscheme,jdbcType=VARCHAR},
      hetongqianzhui = #{hetongqianzhui,jdbcType=VARCHAR},
      baoquanid = #{baoquanid,jdbcType=VARCHAR},
      towhere = #{towhere,jdbcType=VARCHAR},
      insuranceCardtype = #{insurancecardtype,jdbcType=VARCHAR},
      insuranceIdcard = #{insuranceidcard,jdbcType=VARCHAR},
      insuranceNo = #{insuranceno,jdbcType=VARCHAR},
      insuranceUsername = #{insuranceusername,jdbcType=VARCHAR},
      loanguarantee = #{loanguarantee,jdbcType=VARCHAR},
      fromwhere = #{fromwhere,jdbcType=VARCHAR},
      loannum = #{loannum,jdbcType=VARCHAR},
      orderCode = #{ordercode,jdbcType=VARCHAR},
      totalAmount = #{totalamount,jdbcType=VARCHAR},
      xporderid = #{xporderid,jdbcType=VARCHAR},
      xpremark = #{xpremark,jdbcType=VARCHAR},
      preservations = #{preservations,jdbcType=VARCHAR},
      repaymentGuaranteeMeasures = #{repaymentguaranteemeasures,jdbcType=VARCHAR},
      projectIntroduction = #{projectintroduction,jdbcType=VARCHAR},
      whetherWisdom = #{whetherwisdom,jdbcType=VARCHAR},
      safeguardModel = #{safeguardmodel,jdbcType=VARCHAR},
      orderNo = #{orderno,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>